<footer>
    <div class="f-info container-fluid bg-light py-3">
        <div class="f-info-socials">
            <a href="https://github.com/333nischay"><i class="fa-brands fa-github social-icon"></i></a>
            <a href="https://www.linkedin.com/in/nischay-sinha-bb7335308/"><i class="fa-brands fa-linkedin social-icon"></i></a>
        </div>
            <div>&copy StaySphere Private Limited </div>
            <div class="f-info-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
         </div>
</footer>
<style>
    .social-icon {
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }

    .social-icon:hover {
        transform: translateY(-5px); 
    }
</style>