<%- layout("/layouts/boilerplate") %>
<%- include("./includes/flash.ejs") %>
  <div class="row">
    
    <div class="col-8 offset-2">
      <div class="mb-3 text-start">
        <br>
        <h3>Create a New Listing</h3>
      </div>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3 text-start">
      <label for="title" class="form-label">Title</label>
      <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required />
      <div class="valid-feedback">
        Title Looks good!
       </div>
       <div class="invalid-feedback">
        Enter a valid title
       </div>
      </div>
      <div class="mb-3 text-start">
      <label for="description" class="form-label">Description</label>
      <textarea
        name="listing[description]"
        placeholder="enter description"
        class="form-control"
        required
      ></textarea> 
      <div class="valid-feedback">
        Description Looks good!
       </div>
       <div class="invalid-feedback">
        Enter a valid description
       </div>
      </div>
      <div class="mb-3 text-start">
      <label for="image" class="form-label">Upload Image</label>
      <br>
      <input
        name="listing[image]"
        type="file"
        class="form-control"
        required
      />
      <div class="invalid-feedback">
        Upload a image of your listing
       </div>
      </div>
      <div class="row">
        <div class="mb-3 text-start col-md-4">
          <label for="price" class="form-label">Price /Night</label>
          <input name="listing[price]" placeholder="enter price" type="text" pattern="\d+" class="form-control" required/>
          <div class="valid-feedback">
        good!
          </div>
          <div class="invalid-feedback">
        Enter a valid price
          </div>
        </div>
        
        <div class="mb-3 text-start col-md-4">
          <label for="category" class="form-label">Category</label>
          <select class="form-control form-select" id="category" name="listing[category]" required>
            <option value="" disabled selected style="font-size: small;">Choose the category</option>
            <% categories.forEach(category => { %>
              <option value="<%= category %>"><%= category %></option>
            <% }) %>
          </select>
        </div>

          <div class="mb-3 text-start col-md-8">
          <label for="country" class="form-label">Country</label>
          <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required/>
          <div class="valid-feedback">
            good!
           </div>
           <div class="invalid-feedback">
            Enter a valid country
           </div>
          </div>
      </div>
      <div class="text-start">
      <label for="location" class="form-label">Location</label>
      <input
        name="listing[location]"
        placeholder="enter location"
        type="text"
        class="form-control"
        required
      />
      <div class="valid-feedback">
        good!
       </div>
       <div class="invalid-feedback">
        Enter a valid location
       </div>
      </div>
      <br><br>
      <button class="btn btn-dark add-btn float-start">Add</button>
      <br><br><br>
    </form>
    </div>
  </div>